* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.floor-controls {
    position: fixed;
    right: 16px;
    bottom: 16px;

    background: rgba(255, 255, 255, .5);
    padding: 8px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    border: 1px solid #999;
    user-select: none;
}

.floor-btn {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.floor-label {
    font-size: 0.8em;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floor-number {
    font-weight: 600;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
    margin-bottom: 4px;
}

.search {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;

    background: white;
    padding: 8px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    border: 1px solid #999;

    max-height: 100%;
}

.search input {
    padding: 4px;
    font-size: 1em;
}

.search-results {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    overflow-y: scroll;
}

.result {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.result-name {
    font-weight: bold;
    font-size: 1.2em;
}

.result-location {
    color: rgba(0, 0, 0, .5);
}

svg {
    cursor: default;
}
